<div class="container">
  <h1><%= @suv.shop_num %></h1>
  <p><%= @suv.year %> <%= @suv.make_model %></p>
  <p><%= @suv.original_assign %></p>
  <p><%= @suv.second_assign %></p>
  <p><%= @suv.third_assign %></p>
  <p><%= @suv.fourth_assign %></p>
  <p><%= @suv.fifth_assign %></p>
  <p><%= @suv.sixth_assign %></p>
  <p><%= @suv.seventh_assign %></p>
  <p><%= @suv.notes %></p>
  <p><a href=<%= @suv.img_link %> target="_blank"><%= @suv.caption %></a>
    <a href=<%= @suv.img_link_two %> target="_blank"><%= @suv.caption_two %></a>
    <a href=<%= @suv.img_link_three %> target="_blank"><%= @suv.caption_three %></a>
  </p>
</div>