<div class="container series-head">
  <h1>CFD D-series</h1>
  <p>All Chicago Fire Department engine apparatus are catalogued with a D-series shop number. As of December 2017, 670 engines have been purchased over a roughly 100 year span.</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Second Assignment</th>
          <th scope="col">Third Assignment</th>
          <th scope="col">Fourth Assignment</th>
          <th scope="col">Fifth Assignment</th>
          <th scope="col">Sixth Assignment</th>
          <th scope="col">Seventh Assignment</th>
          <th scope="col">Eighth Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @engines.each do |engine| %>
          <tr>
            <th scope="row"><%= engine.shop_num %></th>
            <td><%= engine.year %></td>
            <td><%= engine.make_model %></td>
            <td><%= engine.original_assign %></td>
            <td><%= engine.second_assign %></td>
            <td><%= engine.third_assign %></td>
            <td><%= engine.fourth_assign %></td>
            <td><%= engine.fifth_assign %></td>
            <td><%= engine.sixth_assign %></td>
            <td><%= engine.seventh_assign %></td>
            <td><%= engine.eighth_assign %></td>
            <td><%= engine.notes %></td>
            <td><a href=<%= engine.img_link %> target="_blank"><%= engine.caption %></a>
              <a href=<%= engine.img_link_two %> target="_blank"><%= engine.caption_two %></a>
              <a href=<%= engine.img_link_three %> target="_blank"><%= engine.caption_three %></a>
              <a href=<%= engine.img_link_four %> target="_blank"><%= engine.caption_four %></a>
              <a href=<%= engine.img_link_five %> target="_blank"><%= engine.caption_five %></a>
              <a href=<%= engine.img_link_six %> target="_blank"><%= engine.caption_six %></a>
              <a href=<%= engine.img_link_seven %> target="_blank"><%= engine.caption_seven %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>