<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
</head>
<!-- set body class to engines show -->
<body class="<%= controller_name %> <%= action_name %>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <div class="big-shop">
      <a href=<%= @engine.id.increment! %> class="previous">D-<%= @engine.shop_num.increment! %></a>
      <h1><%= @engine.shop_num %></h1>
      <a href="#" class="next"></a>
    </div>
    <div class="img-wrap">
      <div class="show-img">
        <%= engine_picture %>
      </div>
      <p id="photo-cred">&copy;<%= @engine.show_img_cap %></p>
    </div>
    <div class="make-model">
      <p><%= @engine.year %> <%= @engine.make_model %></p>
    </div>
    <hr>
    <div class="col-md-12 text-center">
      <h3>Delivery Date</h3>
      <p><%= @engine.delivery_date %></p>
    </div>
    <div class="assignments">
      <h3>Assignments</h3>
    </div>
    <div class="col-md-6 left-info">
      <p><%= @engine.original_assign %></p>
      <p><%= @engine.second_assign %></p>
      <p><%= @engine.third_assign %></p>
      <p><%= @engine.fourth_assign %></p>
    </div>
    <div class="col-md-6 right-info">
      <p><%= @engine.fifth_assign %></p>
      <p><%= @engine.sixth_assign %></p>
      <p><%= @engine.seventh_assign %></p>
      <p><%= @engine.eighth_assign %></p>
    </div>
    <div class="col-md-12 text-center">
      <p><%= @engine.ninth_assign %></p>
      <p><%= @engine.tenth_assign %></p>
      <p><%= @engine.eleventh_assign %></p>
      <p><%= @engine.twelfth_assign %></p>
    </div>
    <div class="col-md-12 text-center">
      <h3>Disposition</h3>
      <p><%= @engine.disposal %></p>
    </div>
    <div class=" col-md-12 notes">
      <h3>Vehicle Notes</h3>
      <p><%= @engine.notes %></p>
    </div>
    <div class="col-md-12 img-links">
      <h3 class="addl-img">Additional Images</h3>
      <p><a href=<%= @engine.img_link %> target="_blank"><%= @engine.caption %></a>
        <a href=<%= @engine.img_link_two %> target="_blank"><%= @engine.caption_two %></a>
        <a href=<%= @engine.img_link_three %> target="_blank"><%= @engine.caption_three %></a>
        <a href=<%= @engine.img_link_four %> target="_blank"><%= @engine.caption_four %></a>
        <a href=<%= @engine.img_link_five %> target="_blank"><%= @engine.caption_five %></a>
        <a href=<%= @engine.img_link_six %> target="_blank"><%= @engine.caption_six %></a>
        <a href=<%= @engine.img_link_seven %> target="_blank"><%= @engine.caption_seven %></a>
      </p>
    </div>
    <hr>
  </div>
</body>