<div class="container">
  <h1><%= @ambulance.shop_num %></h1>
  <p><%= @ambulance.year %></p>
  <p><%= @ambulance.make_model %></p>
  <p><%= @ambulance.original_assign %></p>
  <p><%= @ambulance.second_assign %></p>
  <p><%= @ambulance.third_assign %></p>
  <p><%= @ambulance.fourth_assign %></p>
  <p><%= @ambulance.fifth_assign %></p>
  <p><%= @ambulance.sixth_assign %></p>
  <p><%= @ambulance.seventh_assign %></p>
  <p><%= @ambulance.eighth_assign %></p>
  <p><%= @ambulance.notes %></p>
  <p><a href=<%= @ambulance.img_link %> target="_blank"><%= @ambulance.caption %></a>
    <a href=<%= @ambulance.img_link_two %> target="_blank"><%= @ambulance.caption_two %></a>
    <a href=<%= @ambulance.img_link_three %> target="_blank"><%= @ambulance.caption_three %></a>
    <a href=<%= @ambulance.img_link_four %> target="_blank"><%= @ambulance.caption_four %></a>
    <a href=<%= @ambulance.img_link_five %> target="_blank"><%= @ambulance.caption_five %></a>
  </p>
</div>