<div class="container">
  <h1><%= @other.shop_num %></h1>
  <p><%= @other.year %> <%= @other.make_model %></p>
  <p><%= @other.original_assign %></p>
  <p><%= @other.second_assign %></p>
  <p><%= @other.third_assign %></p>
  <p><%= @other.fourth_assign %></p>
  <p><%= @other.fifth_assign %></p>
  <p><%= @other.notes %></p>
  <p><a href=<%= @other.img_link %> target="_blank"><%= @other.caption %></a>
    <a href=<%= @other.img_link_two %> target="_blank"><%= @other.caption_two %></a>
    <a href=<%= @other.img_link_three %> target="_blank"><%= @other.caption_three %></a>
  </p>
</div>