<div class="container">
  <div class="big-shop">
    <h1><%= @other.shop_num %></h1>
  </div>
  <div class="img-wrap">
    <div class="show-img">
      <%= other_picture %>
    </div>
    <p>&copy;<%= @other.show_img_cap %></p>
  </div>
  <div class="make-model">
    <p><%= @other.year %> <%= @other.make_model %></p>
  </div>
  <hr>
  <div class="assignments">
    <h3>Assignments</h3>
    <div class="col-md-6 left-info">
      <p><%= @other.original_assign %></p>
      <p><%= @other.second_assign %></p>
    </div>
    <div class="col-md-6 right-info">
      <p><%= @other.third_assign %></p>
      <p><%= @other.fourth_assign %></p>
    </div>
    <div class="col-md-12">
      <p><%= @other.fifth_assign %></p>
    </div>
  </div>
  <div class="col-md-12 notes">
    <h3>Vehicle Notes</h3>
    <p><%= @other.notes %></p>
  </div>
  <div class="col-md-12 img-links">
    <h3 class="addl-img">Additional Images</h3>
    <p><a href=<%= @other.img_link %> target="_blank"><%= @other.caption %></a>
      <a href=<%= @other.img_link_two %> target="_blank"><%= @other.caption_two %></a>
      <a href=<%= @other.img_link_three %> target="_blank"><%= @other.caption_three %></a>
    </p>
  </div>
  <hr>
</div>