<meta name="format-detection" content="telephone=no">
<div class="container series-head">
  <h1>CFD E- & F-series</h1>
  <p>Originally used in conjunction when all Truck apparatus were two piece tractor/trailer combinations, the F-series is no longer in use. All trucks currently use E-series numbering.</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Second Assignment</th>
          <th scope="col">Third Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @trucks.each do |truck| %>
          <tr>
            <th scope="row"><%= truck.shop_num %></th>
            <td><%= truck.year %></td>
            <td><%= truck.make_model %></td>
            <td><%= truck.original_assign %></td>
            <td><%= truck.second_assign %></td>
            <td><%= truck.third_assign %></td>
            <td><%= truck.notes %></td>
            <td><a href=<%= truck.img_link %> target="_blank"><%= truck.caption %></a>
              <a href=<%= truck.img_link_two %> target="_blank"><%= truck.caption_two %></a>
              <a href=<%= truck.img_link_three %> target="_blank"><%= truck.caption_three %></a>
              <a href=<%= truck.img_link_four %> target="_blank"><%= truck.caption_four %></a>
              <a href=<%= truck.img_link_five %> target="_blank"><%= truck.caption_five %></a>
              <a href=<%= truck.img_link_six %> target="_blank"><%= truck.caption_six %></a>
              <a href=<%= truck.img_link_seven %> target="_blank"><%= truck.caption_seven %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>