<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
  <meta name="format-detection" content="telephone=no">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container series-head">
    <h1>CFD E- series</h1>
    <p>Originally used in conjunction with the F-series when all Truck apparatus were two piece tractor/trailer combinations. All trucks currently use E-series numbering only.</p>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-stripe">
        <thead class="thead-inverse">
          <tr class="row-head">
            <th scope="col" class="shop">Shop &#35</th>
            <th scope="col" class="year">Year</th>
            <th scope="col">Make&#47Model</th>
            <th scope="col">Original Assignment</th>
            <th scope="col">Second Assignment</th>
            <th scope="col">Third Assignment</th>
            <th scope="col">Image Links</th>
          </tr>
        </thead>
        <tbody>
          <% @trucks.each do |truck| %>
          <% next if truck.id > 380 %>
            <tr>
              <th scope="row" class="shop"><a href="/e-series/<%= truck.id %>"><%= truck.shop_num %></a></th>
              <td class="year"><a href="/e-series/<%= truck.id %>"><%= truck.year %></a></td>
              <td><a href="/e-series/<%= truck.id %>"><%= truck.make_model %></a></td>
              <td><a href="/e-series/<%= truck.id %>"><%= truck.original_assign %></a></td>
              <td><a href="/e-series/<%= truck.id %>"><%= truck.second_assign %></a></td>
              <td><a href="/e-series/<%= truck.id %>"><%= truck.third_assign %></a></td>
              <td><a href=<%= truck.img_link %> target="_blank"><%= truck.caption %></a>
                <a href=<%= truck.img_link_two %> target="_blank"><%= truck.caption_two %></a>
                <a href=<%= truck.img_link_three %> target="_blank"><%= truck.caption_three %></a>
                <a href=<%= truck.img_link_four %> target="_blank"><%= truck.caption_four %></a>
                <a href=<%= truck.img_link_five %> target="_blank"><%= truck.caption_five %></a>
                <a href=<%= truck.img_link_six %> target="_blank"><%= truck.caption_six %></a>
                <a href=<%= truck.img_link_seven %> target="_blank"><%= truck.caption_seven %></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>