<div class="container">
  <h1><%= @truck.shop_num %></h1>
  <p><%= @truck.year %> <%= @truck.make_model %></p>
  <p><%= @truck.original_assign %></p>
  <p><%= @truck.second_assign %></p>
  <p><%= @truck.third_assign %></p>
  <p><%= @truck.fourth_assign %></p>
  <p><%= @truck.fifth_assign %></p>
  <p><%= @truck.sixth_assign %></p>
  <p><%= @truck.seventh_assign %></p>
  <p><%= @truck.eighth_assign %></p>
  <p><%= @truck.ninth_assign %></p>
  <p><%= @truck.notes %></p>
  <p><a href=<%= @truck.img_link %> target="_blank"><%= @truck.caption %></a>
    <a href=<%= @truck.img_link_two %> target="_blank"><%= @truck.caption_two %></a>
    <a href=<%= @truck.img_link_three %> target="_blank"><%= @truck.caption_three %></a>
    <a href=<%= @truck.img_link_four %> target="_blank"><%= @truck.caption_four %></a>
    <a href=<%= @truck.img_link_five %> target="_blank"><%= @truck.caption_five %></a>
    <a href=<%= @truck.img_link_six %> target="_blank"><%= @truck.caption_six %></a>
    <a href=<%= @truck.img_link_seven %> target="_blank"><%= @truck.caption_seven %></a>
  </p>
</div>