<div class="container">
  <div class="big-shop">
    <h1><%= @truck.shop_num %></h1>
  </div>
  <div class="img-wrap">
    <div class="show-img">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cfdshopnumbers/images/trucks/#{@truck.shop_num}.png") %>
    </div>
    <p>&copy;<%= @truck.show_img_cap %></p>
  </div>
  <div class="make-model">
    <p><%= @truck.year %> <%= @truck.make_model %></p>
  </div>
  <hr>
  <div class="assignments">
    <div class="col-md-6 left-info">
      <p><%= @truck.original_assign %></p>
      <p><%= @truck.second_assign %></p>
      <p><%= @truck.third_assign %></p>
      <p><%= @truck.fourth_assign %></p>
    </div>
    <div class="col-md-6 right-info">
      <p><%= @truck.fifth_assign %></p>
      <p><%= @truck.sixth_assign %></p>
      <p><%= @truck.seventh_assign %></p>
      <p><%= @truck.eighth_assign %></p>
    </div>
    <div class="col-md-12">
      <p><%= @truck.ninth_assign %></p>
    </div>
  </div>
  <div class="col-md-12 notes">
    <p><%= @truck.notes %></p>
  </div>
  <div class="col-md-12 img-links">
    <h3 class="addl-img">Additional Images</h3>
    <p><a href=<%= @truck.img_link %> target="_blank"><%= @truck.caption %></a>
      <a href=<%= @truck.img_link_two %> target="_blank"><%= @truck.caption_two %></a>
      <a href=<%= @truck.img_link_three %> target="_blank"><%= @truck.caption_three %></a>
      <a href=<%= @truck.img_link_four %> target="_blank"><%= @truck.caption_four %></a>
      <a href=<%= @truck.img_link_five %> target="_blank"><%= @truck.caption_five %></a>
      <a href=<%= @truck.img_link_six %> target="_blank"><%= @truck.caption_six %></a>
      <a href=<%= @truck.img_link_seven %> target="_blank"><%= @truck.caption_seven %></a>
    </p>
  </div>
  <hr>
</div>