<meta name="format-detection" content="telephone=no">
<div class="container series-head">
  <h1>Before The Shop Numbers</h1>
  <p>The CFD began purchasing motorized apparatus in earnest in 1911. Many of these early vehicles didn't last long enough to receive a brass plaque with shop number in early 1923. Numbering on this page comes from the excellent Ken Little/John McNalis History of Chicago Firehouses (volumes I - IV).</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Second Assignment</th>
          <th scope="col">Third Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @pres.each do |pre| %>
          <tr>
            <th scope="row"><%= pre.shop_num %></th>
            <td><%= pre.year %></td>
            <td><%= pre.make_model %></td>
            <td><%= pre.original_assign %></td>
            <td><%= pre.second_assign %></td>
            <td><%= pre.third_assign %></td>
            <td><%= pre.notes %></td>
            <td><a href=<%= pre.img_link %> target="_blank"><%= pre.caption %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>