<div class="container">
  <h1><%= @pre.shop_num %></h1>
  <p><%= @pre.year %> <%= @pre.make_model %></p>
  <p><%= @pre.original_assign %></p>
  <p><%= @pre.second_assign %></p>
  <p><%= @pre.third_assign %></p>
  <p><%= @pre.fourth_assign %></p>
  <p><%= @pre.fifth_assign %></p>
  <p><%= @pre.sixth_assign %></p>
  <p><%= @pre.seventh_assign %></p>
  <p><%= @pre._eighthassign %></p>
  <p><%= @pre.ninth_assign %></p>
  <p><%= @pre.tenth_assign %></p>
  <p><%= @pre.eleventh_assign %></p>
  <p><%= @pre.notes %></p>
  <p><a href=<%= @pre.img_link %> target="_blank"><%= @pre.caption %></a></p>
</div>