<div class="container series-head">
  <h1>Former CFD Vehicles</h1>
  <p>When the CFD maintained their own repair shop, they had a large number of support vehicles for maintenance purposes. Several of these, including fuel trucks, building maintenance vehicles, and delivery trucks were transferred to Chicago Fleet Management when they took over motor service for all city departments.</p>
  <p>The Chicago Police Department has also converted several former ambulances over the years.</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @pasts.each do |past| %>
          <tr>
            <th scope="row"><%= past.shop_num %></th>
            <td><%= past.year %></td>
            <td><%= past.make_model %></td>
            <td><%= past.original_assign %></td>
            <td><%= past.notes %></td>
            <td><a href=<%= past.img_link %> target="_blank"><%= past.caption %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>