<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
  <meta name="format-detection" content="telephone=no">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container series-head">
    <h1>CFD F-series</h1>
    <p>Originally used in conjunction with the E-series when all Truck apparatus were two piece tractor/trailer combinations, the F-series is no longer in use. All trucks currently use E-series numbering.</p>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-stripe">
        <thead class="thead-inverse">
          <tr class="row-head">
            <th scope="col" class="shop">Shop &#35</th>
            <th scope="col" class="year">Year</th>
            <th scope="col">Make&#47Model</th>
            <th scope="col">Original Assignment</th>
            <th scope="col">Second Assignment</th>
            <th scope="col">Third Assignment</th>
            <th scope="col">Image Links</th>
          </tr>
        </thead>
        <tbody>
          <% @trailers.each do |trailer| %>
            <tr>
              <th scope="row" class="shop"><a href="/f-series/<%= trailer.id %>"><%= trailer.shop_num %></a></th>
              <td class="year"><a href="/f-series/<%= trailer.id %>"><%= trailer.year %></a></td>
              <td><a href="/f-series/<%= trailer.id %>"><%= trailer.make_model %></a></td>
              <td><a href="/f-series/<%= trailer.id %>"><%= trailer.original_assign %></a></td>
              <td><a href="/f-series/<%= trailer.id %>"><%= trailer.second_assign %></a></td>
              <td><a href="/f-series/<%= trailer.id %>"><%= trailer.third_assign %></a></td>
              <td><a href=<%= trailer.img_link %> target="_blank"><%= trailer.caption %></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>