<div class="container">
  <h1><%= @unclassifiable.shop_num %></h1>
  <div class="show-img">
    <%= unclassifiable_picture %>
  </div>
  <p><%= @unclassifiable.year %> <%= @unclassifiable.make_model %></p>
  <p><%= @unclassifiable.original_assign %></p>
  <p><%= @unclassifiable.second_assign %></p>
  <p><%= @unclassifiable.notes %></p>
  <p><a href=<%= @unclassifiable.img_link %> target="_blank"><%= @unclassifiable.caption %></a>
    <a href=<%= @unclassifiable.img_link_two %> target="_blank"><%= @unclassifiable.caption_two %></a>
    <a href=<%= @unclassifiable.img_link_three %> target="_blank"><%= @unclassifiable.caption_three %></a>
  </p>
</div>