<div class="container">
  <div class="big-shop">
    <h1><%= @unclassifiable.shop_num %></h1>
  </div>
  <div class="img-wrap">
    <div class="show-img">
      <%= unclassifiable_picture %>
    </div>
    <p>&copy;<%= @unclassifiable.show_img_cap %></p>
  </div>
  <div class="make-model">
    <p><%= @unclassifiable.year %> <%= @unclassifiable.make_model %></p>
  </div>
  <hr>
  <div class="assignments">
    <h3>Assignments</h3>
    <div class="col-md-12">
      <p><%= @unclassifiable.original_assign %></p>
      <p><%= @unclassifiable.second_assign %></p>
    </div>
    </div>
  </div>
  <div class="col-md-12 notes">
    <h3>Vehicle Notes</h3>
    <p><%= @unclassifiable.notes %></p>
  </div>
  <div class="col-md-12 img-links">
    <h3 class="addl-img">Additional Images</h3>
    <p><a href=<%= @unclassifiable.img_link %> target="_blank"><%= @unclassifiable.caption %></a>
      <a href=<%= @unclassifiable.img_link_two %> target="_blank"><%= @unclassifiable.caption_two %></a>
      <a href=<%= @unclassifiable.img_link_three %> target="_blank"><%= @unclassifiable.caption_three %></a>
    </p>
  </div>
  <hr>
</div>