<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
  <meta name="format-detection" content="telephone=no">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container series-head">
    <h1>CFD AVF-series</h1>
    <p>Perhaps the most perplexing numbering series, AVF- numbers are apparently re-used when older vehicles are disposed of. All vehicles with an AVF- prefix are purchased by the Chicago Department of Aviation.</p>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-stripe">
        <thead class="thead-inverse ">
          <tr class="row-head">
            <th scope="col" class="shop">Shop &#35</th>
            <th scope="col" class="year">Year</th>
            <th scope="col">Make&#47Model</th>
            <th scope="col">Original Assignment</th>
            <th scope="col">Second Assignment</th>
            <th scope="col">Third Assignment</th>
            <th scope="col">Image Links</th>
          </tr>
        </thead>
        <tbody>
          <% @airports.each do |airport| %>
            <tr>
              <th scope="row" class="shop"><a href="/avf-series/<%= airport.id %>"><%= airport.shop_num %></a></th>
              <td class="year"><a href="/avf-series/<%= airport.id %>"><%= airport.year %></a></td>
              <td><a href="/avf-series/<%= airport.id %>"><%= airport.make_model %></a></td>
              <td><a href="/avf-series/<%= airport.id %>"><%= airport.original_assign %></a></td>
              <td><a href="/avf-series/<%= airport.id %>"><%= airport.second_assign %></a></td>
              <td><a href="/avf-series/<%= airport.id %>"><%= airport.third_assign %></a></td>
              <td><a href=<%= airport.img_link %> target="_blank"><%= airport.caption %></a>
                <a href=<%= airport.img_link_two %> target="_blank"><%= airport.caption_two %></a>
                <a href=<%= airport.img_link_three %> target="_blank"><%= airport.caption_three %></a>
                <a href=<%= airport.img_link_four %> target="_blank"><%= airport.caption_four %></a>
                <a href=<%= airport.img_link_five %> target="_blank"><%= airport.caption_five %></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>