<style>
#map {
  height: 400px;
  width: 100%;
}
</style>
<div class="container">
  <div class="big-shop">
    <h1><%= @airport.shop_num %></h1>
  </div>
  <div class="img-wrap">
    <div class="show-img">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cfdshopnumbers/images/airports/#{@airport.shop_num}.png") %>
    </div>
    <p>&copy;<%= @airport.show_img_cap %></p>
  </div>
  <div class="make-model">
    <p><%= @airport.year %> <%= @airport.make_model %></p>
  </div>
  <hr>
  <div class="assignments">
    <h3>Assignments</h3>
    <div class="col-md-12">
      <p><%= @airport.original_assign %></p>
      <p><%= @airport.second_assign %></p>
      <p><%= @airport.third_assign %></p>
      <p><%= @airport.fourth_assign %></p>
    </div>
  </div>
  <div class="col-md-12 notes">
    <h3>Vehicle Notes</h3>
    <p><%= @airport.notes %></p>
  </div>
  <div class="img-links">
    <h3 class="addl-img">Additional Images</h3>
    <p><a href=<%= @airport.img_link %> target="_blank"><%= @airport.caption %></a>
      <a href=<%= @airport.img_link_two %> target="_blank"><%= @airport.caption_two %></a>
      <a href=<%= @airport.img_link_three %> target="_blank"><%= @airport.caption_three %></a>
      <a href=<%= @airport.img_link_four %> target="_blank"><%= @airport.caption_four %></a>
      <a href=<%= @airport.img_link_five %> target="_blank"><%= @airport.caption_five %></a>
    </p>
  </div>
  <div class="quarters">
    <h3 id="map-title">Quarters</h3>
    <div id="map"></div>
      <script>
        let map;
        function initMap() {
          let center = {<%= @airport.quarters %>};

          map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 17
          });

          let marker = new google.maps.Marker({
            position: center,
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD06DH9q_nLH-TRGk_6BWBhf8cjDBqZdQ&callback=initMap" async defer></script>
  </div>
  <hr>
</div>