<div class="container">
  <h1><%= @car.shop_num %></h1>
  <p><%= @car.year %></p>
  <p><%= @car.make_model %></p>
  <p><%= @car.original_assign %></p>
  <p><%= @car.second_assign %></p>
  <p><%= @car.third_assign %></p>
  <p><%= @car.fourth_assign %></p>
  <p><%= @car.fifth_assign %></p>
  <p><%= @car.sixth_assign %></p>
  <p><%= @car.seventh_assign %></p>
  <p><%= @car.eighth_assign %></p>
  <p><%= @car.ninth_assign %></p>
  <p><%= @car.notes %></p>
  <p><a href=<%= @car.img_link %> target="_blank"><%= @car.caption %></a>
    <a href=<%= @car.img_link_two %> target="_blank"><%= @car.caption_two %></a>
    <a href=<%= @car.img_link_three %> target="_blank"><%= @car.caption_three %></a>
    <a href=<%= @car.img_link_four %> target="_blank"><%= @car.caption_four %></a>
  </p>
</div>