<div class="container">
  <div class="big-shop">
    <h1><%= @car.shop_num %></h1>
  </div>
  <div class="img-wrap">
    <div class="show-img">
      <%= car_picture %>
    </div>
    <p>&copy;<%= @car.show_img_cap %></p>
  </div>
  <div class="make-model">
    <p><%= @car.year %> <%= @car.make_model %></p>
  </div>
  <hr>
  <div class="assignments">
    <h3>Assignments</h3>
    <div class="col-md-6 left-info">
      <p><%= @car.original_assign %></p>
      <p><%= @car.second_assign %></p>
      <p><%= @car.third_assign %></p>
      <p><%= @car.fourth_assign %></p>
      <p><%= @car.fifth_assign %></p>
    </div>
    <div class="col-md-6 right-info">
      <p><%= @car.sixth_assign %></p>
      <p><%= @car.seventh_assign %></p>
      <p><%= @car.eighth_assign %></p>
      <p><%= @car.ninth_assign %></p>
      <p><%= @car.tenth_assign %></p>
    </div>
    <div class="col-md-12">
      <p><%= @car.ninth_assign %></p>
    </div>
  </div>
  <div class="col-md-12 notes">
    <h3>Vehicle Notes</h3>
    <p><%= @car.notes %></p>
  </div>
  <div class="col-md-12 img-links">
    <h3 class="addl-img">Additional Images</h3>
    <p><a href=<%= @car.img_link %> target="_blank"><%= @car.caption %></a>
      <a href=<%= @car.img_link_two %> target="_blank"><%= @car.caption_two %></a>
      <a href=<%= @car.img_link_three %> target="_blank"><%= @car.caption_three %></a>
      <a href=<%= @car.img_link_four %> target="_blank"><%= @car.caption_four %></a>
    </p>
  </div>
  <hr>
</div>