<meta name="format-detection" content="telephone=no">
<div class="container series-head">
  <h1>Unidentified Shop Numbers</h1>
  <p>The hunt continues. If you can identify any of the vehicles shown below, please fill out the form at the bottom of the page.</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col" class="id">ID</th>
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Second Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @identifications.each do |identification| %>
          <tr>
            <th scope="row"><%= identification.id %></th>
            <th><%= identification.shop_num %></th>
            <td><%= identification.year %></td>
            <td><%= identification.make_model %></td>
            <td><%= identification.original_assign %></td>
            <td><%= identification.second_assign %></td>
            <td><%= identification.notes %></td>
            <td><a href=<%= identification.img_link %> target="_blank"><%= identification.caption %></a>
              <a href=<%= identification.img_link_two %> target="_blank"><%= identification.caption_two %></a>
              <a href=<%= identification.img_link_three %> target="_blank"><%= identification.caption_three %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-header">
      <h3>Identification Form</h3>
    </div>
    <%= form_tag 'https://formspree.io/eric.j.biel@gmail.com', class: 'form-group' do%>
      Email : </br><%= text_field_tag 'email', '', class: 'form-control' %></br>
      Subject: </br><%= text_field_tag 'subject', '', class: 'form-control' %></br>
      About: </br>
      <%= check_box_tag :gen_info, class: 'form-check-input' %>
      <%= label_tag :gen_info, 'General info', class: 'form-check' %></br>
      <%= check_box_tag :listed_id, class: 'form-check-input' %>
      <%= label_tag :listed_id, 'ID of listed vehicle', class: 'form-check' %></br>
      <%= check_box_tag :unlisted_id, class: 'form-check-input' %>
      <%= label_tag :unlisted_id, 'ID of another vehicle', class: 'form-check' %></br>
      Related to line item:<%= collection_select :id, :identification_id, Identification.all.order(id: :asc), :id, :id_dropdown, prompt: true %></br>
      Description: </br><%= text_area_tag :description, '', size: '24x6', class: 'form-control'%></br>
      <%= submit_tag "submit",:value => "submit", class: 'btn btn-primary'%>
    <%end%>
  </div>
</div>