<meta name="format-detection" content="telephone=no">
<div class="container series-head">
  <h1>Unidentified Shop Numbers</h1>
  <p>The hunt continues. Can you identify any of the vehicles shown below?</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Second Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @identifications.each do |identification| %>
          <tr>
            <th scope="row"><%= identification.shop_num %></th>
            <td><%= identification.year %></td>
            <td><%= identification.make_model %></td>
            <td><%= identification.original_assign %></td>
            <td><%= identification.second_assign %></td>
            <td><%= identification.notes %></td>
            <td><a href=<%= identification.img_link %> target="_blank"><%= identification.caption %></a>
              <a href=<%= identification.img_link_two %> target="_blank"><%= identification.caption_two %></a>
              <a href=<%= identification.img_link_three %> target="_blank"><%= identification.caption_three %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>