<div class="container">
  <h1>CFD H-series</h1>
  <p>Used to catalogue reserve steam engines immediately after the fleet became completely motorized. It is unknown when the last steamer was retired from reserve service.</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Shop &#35</th>
          <th scope="col">Year</th>
          <th scope="col">Make&#47Model</th>
          <th scope="col">Original Assignment</th>
          <th scope="col">Notes</th>
          <th scope="col">Image Links</th>
        </tr>
      </thead>
      <tbody>
        <% @steamers.each do |steamer| %>
          <tr>
            <th scope="row"><%= steamer.shop_num %></th>
            <td><%= steamer.year %></td>
            <td><%= steamer.make_model %></td>
            <td><%= steamer.original_assign %></td>
            <td><%= steamer.notes %></td>
            <td><a href=<%= steamer.img_link %> target="_blank"><%= steamer.caption %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>