<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <div class="big-shop">
      <h1><%= @steamer.shop_num %></h1>
    </div>
    <div class="make-model">
      <p><%= @steamer.year %> <%= @steamer.make_model %></p>
    </div>
    <hr>
    <div class="assignments">
      <p><%= @steamer.original_assign %></p>
      <p><%= @steamer.second_assign %></p>
      <p><%= @steamer.third_assign %></p>
    </div>
    <div class="notes">
      <p><%= @steamer.notes %></p>
    </div>
    <hr>
  </div>
</body>