<div class="container">
  <h1><%= @steamer.shop_num %></h1>
  <p><%= @steamer.year %> <%= @steamer.make_model %></p>
  <p><%= @steamer.original_assign %></p>
  <p><%= @steamer.second_assign %></p>
  <p><%= @steamer.third_assign %></p>
  <p><%= @steamer.notes %></p>
  <p><a href=<%= @steamer.img_link %> target="_blank"><%= @steamer.caption %></a></p>
</div>