<!DOCTYPE html>
<html>
  <head>
    <title>CFD Shop Numbers</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag('https://code.jquery.com/jquery-3.3.1.min.js') %>
    <%= stylesheet_link_tag('https://s3.us-east-2.amazonaws.com/cfdshopnumbers/css/application.css') %>
    <%= javascript_include_tag('https://s3.us-east-2.amazonaws.com/cfdshopnumbers/js/application.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
