<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQN4WV8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQN4WV8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div>
    <h1>Complete Company Apparatus Assignment History</h1>
  </div>
    <p> A (mostly) complete listing of Chicago Fire Department companies, current and disbanded, assigned motorized apparatus.</p>
  <div>
    <p id="search-query">Search by a specific date for a listing of all apparatus in service at that time.</p>
    <div class="col-12 text-center">
      <%= form_tag "/search_co", method: :post do %>
        <%= date_field_tag :search, :required => 'required' %>
          <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-stripe">
          <thead class="thead-inverse sticky" id="navbar">
            <tr class="row-head">
              <th scope="col">Company</th>
              <th scope="col">Signature</th>
              <th scope="col">Organization Date</th>
              <th scope="col">Motorization Date</th>
              <th scope="col">Disbanded</th>
              <th scope="col">Transfer Date</th>
              <th scope="col">New Signature</th>
            </tr>
          </thead>
          <tbody>
            <% @sequences.each do |sequence| %>
              <tr>
                <th scope="row" class="shop"><a href=""><%= sequence.company %></a></th>
                <td ><%= sequence.signature %></td>
                <% if sequence.organization_date? %>
                  <td><%= pretty_date(sequence.organization_date) %></td>
                <% end %>
                <% if sequence.motorized_date? %>
                  <td><%= pretty_date(sequence.motorized_date) %></td>
                <% else %>
                  <td><%= " " %></td>
                <% end %>
                <% if sequence.disbanded_date? %>
                  <td><%= pretty_date(sequence.disbanded_date) %></td>
                <% else %>
                  <td><%= " " %></td>
                <% end %>
                <% if sequence.transfer_date? %>
                  <td><%= pretty_date(sequence.transfer_date) %></td>
                  <% else %>
                  <td><%= " " %></td>
                <% end %>
                <td><%= sequence.transfer_signature %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>