<h1>Apparatus in Service on <%= @search_heading %></h1>
<div class="">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><%= message %></p>
  <% end %>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-stripe">
      <thead class="thead-inverse ">
        <tr class="row-head">
          <th scope="col">Company</th>
          <th scope="col">Signature</th>
          <th scope="col">Shop Number</th>
          <th scope="col">Rig</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>
        <% @search_results.each do |search_result| %>
          <tr>
            <th scope="row" class="shop"><a href=""><%= search_result.company %></a></th>
            <td ><%= search_result.signature %></td>
            <td ><%= search_result.shop_num %></td>
            <td ><%= search_result.rig %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>